@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Path: assets/custom-style.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #26619c;
}

.text-semi-primary {
    color: #1996df !important;
}

.bg-semi-primary {
    background-color: #1996df !important;
}

.btn-semi-primary {
    background-color: #1996df !important;
    color: #fff;
    outline: #1996df !important;
}

.card .image-box {
    height: 300px;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0 0;
}

.card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}


.profile-details .name {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}

.swiper-navBtn {
    color: #000 !important;
    height: 40px !important;
    width: 40px !important;
    background: #fff !important;
    border-radius: 50% !important;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 18px;
}

.swiper-pagination-bullet {
    background-color: #000;
}

.nav-link {
    box-sizing: border-box;
    line-height: 1;
    transition: .3s all;
    position: relative;
}

.nav-link span {
    position: relative;
}

.nav-link span:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: #004d80;
    transition: .3s all;
}

.nav-link:hover span:after {
    width: 100%;
}



.slide-container {
    overflow: hidden;
}

.view-demo {
    height: 700px;
}

.graphic-circle_1 {
    height: 300px;
    top: -50px;
    right: 0;
}

.graphic-circle_2 {
    height: 600px;
    top: 300px;
    left: -300px;
}


.blink {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

.header-sub-title {
    color: #fff;
    font-family: "Courier";
    font-size: 30px;
    padding: 0.1em;
}

.services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
}

.services .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

.form {
    padding: 30px;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form input {
    box-shadow: none;
}

.btn {
    font-family: 'Poppins', sans-serif;
}

.dots {
    position: absolute;
    width: 100%;
    height: 200%;
    overflow: visible;
}

.dots:before {
    z-index: -1;
    right: 0;
    -webkit-transform: translateX(60%);
    -ms-transform: translateX(60%);
    transform: translateX(60%);
    position: absolute;
    content: "";
    width: 304px;
    height: 264px;
    background: url("../img/dots.png") right top;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    animation: slide-up 1s ease-out forwards;
    /* Reduced from 2s to 1s */
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    /* Also remove the default box-shadow */
}

#portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
}

#portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}

#portfolio-flters li:hover,
#portfolio-flters li.filter-active {
    background: #47b2e4;
    color: #fff;
}

.animate__delay-2s {
    animation-delay: 0.2s !important;
}

.animate__delay-3s {
    animation-delay: 0.3s !important;
}

.animate__delay-4s {
    animation-delay: 0.4s !important;
}

.animate__delay-5s {
    animation-delay: 0.5s !important;
}

.animate__delay-6s {
    animation-delay: 0.6s !important;
}

.animate__delay-7s {
    animation-delay: 0.7s !important;
}


@media screen and (max-width: 1490px) {
    .dots:before {
        width: 200px;
        left: 0;
    }


}


@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }

    .graphic-circle_2 {
        height: 400px;
        top: 400px;
        left: -200px;
    }


    .view-demo {
        height: 100%;
    }

    .dots:before {
        width: 100px;
    }

}